.App {
  background: black;
  border-radius: 50px;
  color: white;
  height: 785px;
  padding: 12px;
  position: relative;
  width: 385px;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 0 20px;
}

.display {
  font-size: 85px;
  margin-bottom: 13px;
  margin-right: 13px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
}

.bottom {
  position: absolute;
  width: 140px;
  height: 5px;
  background: white;
  bottom: 7px;
  left: 50%;
  border-radius: 4px;
  transform: translateX(-50%);
}
